## 1. Write a Python script to sort (ascending and descending) a dictionary by value

In [4]:
dict1={"one":1,"three":3,"two":2,"four":4}
k=list(dict1.keys())
v=list(dict1.values())
sd={}

for i in sorted(dict1.values()):
    sd[k[v.index(i)]]=i
print("ascending order:",sd)
sd.clear()

for i in sorted(dict1.values(),reverse=True):
    sd[k[v.index(i)]]=i
print("descending order:",sd)

ascending order: {'one': 1, 'two': 2, 'three': 3, 'four': 4}
descending order: {'four': 4, 'three': 3, 'two': 2, 'one': 1}

## 2. Write a Python script to concatenate following dictionaries to create a new one.

In [3]:
#a. Sample Dictionary: 
#b. dic1 = {1:10, 2:20} 
#c. dic2 = {3:30, 4:40} 
#d. dic3 = {5:50,6:60}

dic1={1:20 , 2:20}
dic2={3:30 , 4:40}
dic3={5:50 , 6:60}
dic4={}
for i in (dic1,dic2,dic3):
    dic4.update(i)
print(dic4)

{1: 20, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

## 3. Write a Python program to combine two dictionary adding values for common keys.

In [8]:
#a. d1 = {'a': 100, 'b': 200, 'c':300}
#b. d2 = {'a': 300, 'b': 200, 'd':400}

d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}

for i in d1:
    if i in d2:
        d1[i]+=d2[i]
print(d1)

{'a': 400, 'b': 400, 'c': 300}

## 4. Write a Python program to print all unique values in a dictionary.

In [9]:
#a. Sample Data: [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, 
#{"VII":"S005"}, {"V":"S009"}, {"VIII":"S007"}]

list =  [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, 
{"VII":"S005"}, {"V":"S009"}, {"VIII":"S007"}]
s =set( val for dic in list for val in dic.values())
print(s)

{'S002', 'S001', 'S005', 'S009', 'S007'}

## 5. Write a Python program to find the highest 3 values in a dictionary.

In [ ]:
d = {'a': 200, 'b': 100, 'c': 300, 'd': 50, 'e': 600}
for i in range(3):
    print(sorted(d.values(), reverse=True)[i])